@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-MediumItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-LightItalic.ttf ');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Italic.ttf ');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

header {
    width: 100%;
    height: auto;
    z-index: 5;
}

.headerVideo {
    position: absolute;
}

#header_logo img {
    width: 160px;
}

.navbar-nav .nav-link.active {
    color: #c8b66c;
    opacity: 1;
    transition: 1s opacity;
}

.bg-dark  {
    --bs-bg-opacity: 0.90;
}

.text-justify {
    text-align: justify;
}

.nav-item, .nav-link {
    opacity: 90% !important;
}

#mainVideo {
    width: 100%;
    height: 100vh;
}

#mainVideo video {
    background-color: black;
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#mainVideo img {
    display: none;
}

.zindex-999 {
    z-index: -999;
}

.h1-custom {
    bottom: 10%;
    position: absolute;
} 

.h1-custom h1 {
    font-size: calc(1.2vw + 1.5rem);
    text-shadow: 0px 0px 5px rgb(0,0,0,0.7);
    background-color: rgba(47,48,50,0.7);
    width: 45%;
    border-bottom: 2px solid #000000;
    padding: 6px 0px;
}

footer {
    height: auto;
    overflow: hidden;
    border-top: 20px solid rgb(38, 45, 52);
}

footer.bg-dark {
    --bs-bg-opacity: 1 !important;
}

#footerLogo {
    width: 164px;
    height: auto;
    margin: 25px 0px;
    vertical-align: middle;
}

footer ul {
    list-style: none;
}

footer div:nth-child(2) ul li p, footer ul li a {
    line-height: 40px;
    margin: 0px !important;
}

.iconFooter {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.contact {
    position: relative;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/L29-formation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
}

.mapas {
    width: 400px;
    height: 400px;
    padding: 20px;
}

.team img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 10px 0px 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px black;
    border: 5px solid black;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

.video-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (315/560 = 0.5625) */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px; /* Espacio entre los videos */
}
.video-youtube iframe {
    position: absolute;
    top: 0;
    left: 2%;
    width: 94%;
    height: 94%;
}

@media (max-width: 992px) { 
    #header_logo img {
        width: 130px;
    }

    .h1-custom {
        bottom: 10%;
    } 

    .h1-custom h1 {
        width: 50%;
    }

    footer ul li a {
        display: block;
    }

    footer ul li p, footer ul li a {
        text-align: center;
    }

}

@media (max-width: 768px) { 
    .headerVideo {
        position: relative;
    }

    #header_logo img {
        width: 110px;
    }

    figure {
        display: contents;
    }
    
    .h1-custom {
        position: relative;
        display: contents;
    }
    
    .h1-custom h1 {
        font-size: calc(1.2vw + 1.5rem);
        padding: 5px 0px;
        width: 100%;
        background-color: rgba(33,37,41,0.9);
    }

    #mainVideo video {
        display: none;
    }
    #mainVideo img {
        display: block;
        width: 100%;
        object-fit: cover;
    }


}